<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fumolizer">

    <uses-permission android:name="MODIFY_AUDIO_PERMISSIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ContextClass"
        android:theme="@style/Theme.Fumolizer">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EqualizerActivity">
        </activity>
        <activity android:name=".VolumeActivity"></activity>
        <activity android:name=".CompressorActivity"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <service android:name=".BackgroundSoundService" android:enabled="true"></service>
        </application>
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>


</manifest>